page-cart {
    .welcome{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .subtext{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 300;
    }
    .product{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 300;
        color: Red;
    }
    .checkout{
        float:right;
    }
}
