<ion-header>
  <ion-navbar color="dark">
    <ion-title class="welcome">
      <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon> BarCodePay <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1 class="welcome"> Welcome To BarCodePay</h1>
  <h4 class="subtext">Payments Made Easy</h4>
  <ion-grid *ngIf="!results">
    <ion-row>
      <ion-col>
        <ion-label class="subtext">Scan 1D and 2D Codes to own a product</ion-label>
        <img src="../../assets/imgs/download.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="subtext">Add a product to your cart</ion-label>
        <img src="../../assets/imgs/products.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="subtext">Checkout to make it yours !</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="results">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{selectedProduct.img}}">
      </ion-avatar>
      <h2 class="product">{{selectedProduct.name}}</h2>
      <p>{{selectedProduct.price | currency:"EUR":true:"1.2"}}</p>
    </ion-item>

    <img src="{{selectedProduct.img}}">

    <ion-card-content class="subtext">
      <button (click)="addToCart()" ion-button color="secondary" round>Add to Cart<ion-icon name="cart"></ion-icon>
      </button>
    </ion-card-content>

  </ion-card>

  <ion-label class="welcome">Keep Scanning. Keep Shopping.</ion-label>

  <ion-fab right bottom>
    <button (click)="scanBarcode()" ion-fab color="danger">
      <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
    </button>
  </ion-fab>
</ion-content>